// Colors:

//Primary
$primary-1: #59c6bc;
$primary-2: #19958c;
$primary-3: #003b35;

//Secondary
$secondary-1: #ff9e50;
$secondary-2: #f36f20;
$secondary-3: #b93d00;

//Information
$information-1: #3fa2f7;
$information-2: #0074c4;

//Success
$success-1: #16933b;
$success-2: #56c568;

//Danger
$danger-1: #eb5757;
$danger-2: #b3202e;

//Alert
$alert-1: #ffc400;
$alert-2: #c79400;

//Neutral
$gray-1: #000000;
$gray-0: #ffffff;
